*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialised;
}

body{
  display: grid;
  place-items: center;
}

.card{
  display: none;
  justify-items: center;
  position: absolute;
  margin: 0 calc(50% - 40px);
}
.card .fita{
  z-index: 1;
}
.card .role{
margin-top: -4px;
}

main{
  background: url(images/background.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 375px;
  height: 812px;
  --black: hsl(240,6,13);
  --gray: hsl(240,9%,89%);
}

.container{
  max-width: 250px;
  margin: 0 auto;
  color: var(--gray);
  text-align: center;
}

.avatar{
  margin: 11.5rem 0 0;
  position: relative;
}

.avatar span{
  position: absolute;
  top: -15px;
  z-index: 10;
}
.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1{
  font-size:1.5rem;
  margin-top: 1.5rem;
}

a{
  text-decoration:none;
  color: var(--gray);
  margin-top: .25rem;
  display: flex;
  gap:.75rem;
  align-items: center;
  justify-content: center;
}

p{
  margin-top: 2rem;
}
ul{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top:4rem;
  list-style: none;
}


/* Desktop */

@media (min-width: 768px){
  body{
    background-image: url(images/backgroundDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    place-items:unset;
  }
.card{
  display: grid;
}
  main{
    background: url(images/background.png);
    background-size: cover;
    background-position: 0 center;
    width: 358px;
    height: 540px;
    margin: 8.75rem auto;
  }
  
  .avatar{
    margin: 3.5rem 0 0;
    position: relative;
  }

}